@page "/attendee"
@inherits CallAttendeeBase

<div class="container">
    <div class="row">
        <h3>Attend a call</h3>
    </div>
    @if (CommModel == null)
    {
        <p>Generating user identity and token...</p>
    }
    else
    {
        <p>Your unique ID to be provided to host:
            <br/><strong>@CommModel.CommunicationUser.Id</strong></p>
    }
    <div class="row">
        <div class="col">
            <div class="video-container">
                <div @ref="MyVideo" class="video"></div>
            </div>
        </div>
        <div class="col">
            <div class="video-container">
                <div @ref="RemoteVideo" class="video"></div>
            </div>
        </div>
    </div>
</div>